*.vsix
.vscode
*.suo
*.dbmdl
*.user
*.dll
*.pdb
*.cache
*.layout
*.jfm
*.settings
*.vs
examples/ForTests/ExampleXMLA/*
!examples/ForTests/DeploymentWizard/Microsoft.AnalysisServices.Deployment.exe
examples/DatabaseToPublish/bin/*
examples/DatabaseToPublish/obj/*
examples/CubeAtCompatibility1200/bin/*
examples/CubeAtCompatibility1200/obj/*
examples/CubeAtCompatibility1500/bin/*
examples/CubeAtCompatibility1500/obj/*


